/*  your css code here. If applicable */
.container{
            /* background-color: aquamarine; */
            height: 800px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:lightblue;
            border: 2px solid black;
            /* border-radius: 8px; */
            height: 200px;
            width: 200px;
            transition: all 1s ease-in-out;
        }